[build]
builder = "NIXPACKS"

[build.nixpacksPlan]
phases.setup.nixPkgs = ["nodejs_20", "python3"]
phases.install.cmds = ["npm install"]
phases.build.cmds = ["npm run build"]

[deploy]
startCommand = "cd .medusa/server && npm install && npm run predeploy && NODE_ENV=production npm run start"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
