[build]
buildCommand = "npm run build"

[deploy]
startCommand = "cd .medusa/server && npm install --omit=dev && npm run predeploy && NODE_ENV=production npm run start"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
